# CMake build directories
cmake-build-*/
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
install_manifest.txt
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.a
*.lib
.idea/
*.iml
*.user
*.swp
*.swo
*.DS_Store
core
*.core
Testing/
test_detail.xml
test_output.txt